<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-12">
            <h3>Interpolation</h3>
        </div>

        <div class="col-12">
            <p>Interpolation là cơ chế buộc dữ liệu 1 chiều. Dùng để hiện thị dữ liệu từ Model lên view</p>
        </div>

        <div class="col-12">
            <h5>Ví dụ:</h5>
        </div>

        <div class="col-12">
            <p>Tên tôi là {{name}}</p>
        </div>

        <div class="col-12">
            <h5>Cách sử dụng:</h5>
        </div>

        <div class="col-12">
            <p>- Bước 1: Trong file component.ts khai báo biến:</p>

            <img src="assets/images/bai7_interpolation_1.png" class="img-fluid rounded">
        </div>

        <div class="col-12 mt-2">
            <p>- Bước 2: Tại file component.html, sử dụng interpolation để lấy ra giá trị của biến đó</p>

            <img src="assets/images/bai7_interpolation_2.png" class="img-fluid rounded">
        </div>
    </div>
</div>
