<div class="container-fluid my-3">
    <div class="row">
        <div class="col-12">
            <h3>Property Binding</h3>
        </div>

        <div class="col-12">
            <p>Property binding cũng là cơ chế buộc dữ liệu 1 chiều nhưng thông qua attributes của thẻ html.</p>
        </div>

        <div class="col-12">
            <h5>Ví dụ:</h5>
        </div>

        <div class="col-12">
            <div class="form-group">
              <input type="text" class="form-control" [value]="name" disabled>
            </div>
        </div>

        <div class="col-12">
            <h5>Cách sử dụng:</h5>
        </div>

        <div class="col-12">
            <p>- Bước 1: Trong component.ts khai báo biến chứa dữ liệu muốn chuyển sang file html</p>
            <img src="assets/images/bai7_property_binding_1.png" class="img-fluid rounded">
        </div>

        <div class="col-12 mt-2">
            <p>- Bước 2: Trong thẻ html, sử dụng [attr-name]="var-name"</p>
            <img src="assets/images/bai7_property_binding_2.png" class="img-fluid rounded">
        </div>
    </div>
</div>
