<div class="container-fluid my-4">
    <div class="row">
        <div class="col-12">
            <h3>Event Binding</h3>

            <p>Event binding sử dụng để gọi các method theo sự kiện tương tác vào thẻ html.</p>
        </div>

        <div class="col-12">
            <h5>Ví dụ:</h5>
        </div>

        <div class="col-12">
            <div class="btn btn-success mb-2" (click)="countClick()">Click me!!!</div>

            <p>Bạn đã bấm {{count}} lần</p>
        </div>

        <div class="col-12">
            <h5>Cách sử dụng:</h5>
        </div>

        <div class="col-12">
            <p>- Bước 1: Trong file ts, tạo method chức năng.</p>

            <img src="assets/images/bai9-event-binding-1.png" class="img-fluid rounded">
        </div>

        <div class="col-12 mt-2">
            <p>- Bước 2: Trong thẻ html, sử dụng (event-name)="method-name()"</p>

            <img src="assets/images/bai9-event-binding-2.png" class="img-fluid rounded">
        </div>
    </div>
</div>
