<div class="container-fluid my-4">
    <div class="row">
        <div class="col-12">
            <h3>Binding Style</h3>

            <p>Binding style dùng để gắn style đã khai báo thành các biến vào thẻ html.</p>
        </div>

        <div class="col-12">
            <h5>Ví dụ:</h5>
        </div>

        <div class="col-12">
            <div class="alert alert-primary" role="alert"
                [style.background-color]="!isOK?bgBlack:bgGreen">
                <strong class="text-white">primary</strong>
            </div>
        </div>

        <div class="col-12">
            <h5>Cách sử dụng:</h5>
        </div>

        <div class="col-12">
            <p>- Bước 1: Khai báo biến điều kiện và biến chứa dữ liệu style.</p>

            <img src="assets/images/bai8_binding_style_1.png" class="img-fluid rounded">
        </div>

        <div class="col-12 mt-2 text-justify">
            <p>- Bước 2: Sử dụng [style.style-name]="var-condition?var-style-if-true:var-style-if-false" (Toán tử 3 ngôi)</p>

            <img src="assets/images/bai8_binding_style_2.png" class="img-fluid rounded">
        </div>
    </div>
</div>
