<div class="container-fluid my-4">
    <div class="row">
        <div class="col-12">
            <h3>Form</h3>

            <p>Dùng để lấy dữ liệu của form</p>
        </div>

        <div class="col-12">
            <h5>Ví dụ:</h5>
        </div>

        <div class="col-6">
            <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
                <div class="form-group">
                    <label for="">Tên</label>
                    <input type="text" class="form-control" name="name" required ngModel>

                    <label for="">Email</label>
                    <input type="email" class="form-control" name="email" required ngModel>

                    <label for="">Số điện thoại</label>
                    <input type="text" class="form-control" name="phone" required ngModel>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-2">Submit</button>
            </form>

            <p>Tên: <b>{{name}}</b></p>
            <p>Email: <b>{{email}}</b></p>
            <p>Số điện thoại: <b>{{phone}}</b></p>
        </div>

        <div class="col-12">
            <h5>Cách sử dụng:</h5>
        </div>

        <div class="col-12">
            <p>- Bước 1: import FormsModule trong app.module.ts</p>

            <img src="assets/images/bai15.1.png" class="img-fluid rounded">
        </div>

        <div class="col-12 mt-2">
            <p>- Bước 2: Trong code html, tạo form:
                <br>+ Đặt id cho form và gán với giá trị ngForm: #idForm="ngForm".
                <br>+ Trong thẻ form sử dụng (ngSubmit)="method(idForm.value)" để khi bấm submit, tất cả dữ liệu của form sẽ được truyền vào trong method.
                <br>+ Trong từng thẻ input, khai báo name và ngModel.
                <br>+ Sử dụng thẻ input hoặc button với type là submit để submit form.
            </p>

            <img src="assets/images/bai15.2.png" class="img-fluid rounded">
        </div>

        <div class="col-12 mt-2">
            <p>- Bước 3: Trong file ts, gọi đến method ở trên và lấy data để sử dụng.</p>

            <img src="assets/images/bai15.3.png" class="img-fluid rounded">
        </div>
    </div>
</div>